* {
    box-sizing: border-box;
    margin: 0;
    font-family: Verdana, sans-serif;
}

body {
    width: 100vw;
    margin: 0;
    
}

header{
    width: 100%;
    background-image: url('../img/pattern.png');
    background-size: 30%;
    background-repeat: repeat-x;
    background-color: aqua;
    
}
main {
    padding: 0.5em;
    width: 60%;
    margin: auto;
    padding-top: 4em;
}

#logo {
    width: 20%;
    height: auto;
    margin-top: 1.5em;
}


.p-title {
    color: grey;
    font-size: 16px;
    font-weight: bold;
}

.p-title .subtitle, .subtitle {
    font-size: 12px;
    margin-top: 0.5em;
    font-weight: lighter;
    
}



.content,p,ul,table {
    margin: 1em 0 1em 0;
    border-collapse: collapse;
    
}

ul {
    padding-left: 1em;
}

thead  tr {
    background-color: blue;
    color: white;
}

tbody tr:first-child, tbody tr:last-child {
    background-color: aquamarine;
}

th:first-child, th:nth-child(2) {
    width: 25%;
    
}



.aqua a {
    color: aqua;
    text-decoration: none;
}


.box {
    width: 25%;
    color:white;
    margin-bottom: 0.5em;
    position: relative;
    
}

.box p {
    margin: 0;
    position: absolute;
    top: 10px;
    left: 10px;
    
}




