*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Baloo 2', cursive, sans-serif;
}

body {
    background-color: #d2fbf7;
    width: 100vw;
    height: 100vh;
}

header {
    padding: 5em;
    width: 100%;
    height: auto;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%233a00ff' fill-opacity='0.4'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"), url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23d42257' fill-opacity='0.4'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-position: 0 -38px, 17px -40px;
    background-repeat: repeat-x;
    text-align: center;
    color: blue;
    
    
   
}

h1 {
    width: 100%;
    margin: auto;
    padding: 0.5em;
    border: 15px solid blue;
    
    text-align: center;
    font-size: 6rem;
    box-shadow: 15px 15px red;
    

}

h2 {
    font-size: 3rem;
    margin-top: 1em;
}

p {
    font-size: 1.2rem;
}

.title {
    width: 40%;
    margin: auto;
}


button {
    padding: 1em;
    margin-top: 1em;
    background-color: blue;
    box-shadow: 3px 3px red;
    border: none;
    color: white;
}